.head {
    width: 100%;
    height: 35px;
    box-shadow: 0px 1px 40px rgba(51, 51, 51, 0.1);
    /* background-color: rgb(24, 24, 24); */
    margin-bottom: 10px;
    background-color: #Fdfcfa;
}
.row{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.title{
    font-size: 16px;
    color: var(--color-title);
}

.logo{
    width: 30px;
    height: 20px;
    background-color: transparent;
    margin-right: 4px;
}

.loginBlock{
    justify-self: right;
    margin-left: auto;
    align-self: center;
}
.link{
    color: var(--color-title);
}

.login_button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 12px;
    color: var(--color-title);
    text-decoration:underline;
}   

