.block{
    display: flex;
    justify-content:space-evenly;
    width: 905px;
    background-color: var(--color-primary);
    border-radius: 5px;
}
.users{
    margin-right: 30px;
    margin-top: 15px;
    margin-left: 15px;
    position: relative;
}
.users::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    top: 0;
    right: 0;
    background: black;
}
.users a:hover{
    background-color: rgba(133, 133, 133, 0.1);
}
.users a{
    width: 100px;
    margin-bottom: 15px;
    color: black;
    display: block;
}

.users a.active{
    color: rgb(72, 255, 0);
}
.message{
    margin-top: 15px;
}

.text{
    margin-bottom: 15px;
}
.textarea{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-left: 15px;
    width: 50px;
    height: 20px;
}